body {
  font-family: Arial, Helvetica, sans-serif;
}

#bakar {
  text-align: center;
  background-color: #623d84;
  padding: 1%;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  background-color: blueviolet;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  margin: 0%;
}

footer {
  background-color: blueviolet;
  color: white;
  padding: 30px;
  text-align: center;
}

#mustaf {
  text-align: center;
}